<div class="container">
  <br>
  <h1>Edit your profile</h1>
  <br>
  <% if @volunteer.errors.any? %>
    <%= render partial: "helpers/error_fields", locals: {object: @volunteer} %>
  <% end %>

  <div id="edit_volunteer_form">
    <%= render partial: "helpers/info_form", locals: {user: @volunteer} %>
  </div>
</div>
