<h1>Welcome back, volunteer!</h1>

<h4>Log In</h4>

<form action="/volunteers/login" method="post">
<label for="username">Username </label>
<input type="text" name="username"> <br>
<label for="password">Password </label>
<input type="password" name="password"><br><br>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<input type="hidden" name="user_type" value="volunteers">
<input type="submit" value="Log In">
</form>

<br>
<%= link_to 'Log in with Github!', '/auth/github' %>
