<h1>Welcome to the community.</h1>

<h2>Deliveries: </h2>
<ul>
  <% @delivery_requests.each do |dr| %>
    <li>Member requesting: <%= link_to dr.community_member.name, community_member_path(dr.community_member) %></li>
    <li>Requested items: <%= dr.items %></li>
    <li>Status: <%= dr.status %></li>
    <br><br>
  <% end %>
</ul>
