<div class="jumbotron">
  <h1 class="display-4">CoVID Community Food Bank</h1>
  <p class="lead">Welcome to the Community.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Community Members</h5>
          <h6 class="card-subtitle mb-2 text-muted">The community is here for you.</h6>
          <p class="card-text">Log in or sign up to make delivery requests and communicate with our volunteers.</p>
          <a href="/community-members/login" class="card-link">Log In</a>
          <a href="/community-members/new" class="card-link">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Volunteers</h5>
          <h6 class="card-subtitle mb-2 text-muted">Thank you for your service to the community.</h6>
          <p class="card-text">Log in or sign up to deliver food to those in need.</p>
          <a href="/community-members/login" class="card-link">Log In</a>
          <a href="/community-members/new" class="card-link">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
