<h1 style="font-size: 300%; text-align:center;">CoVID Community Food Bank</h1>
<br>
<h1>Welcome to the Community.</h1>

<h2>Community members, <a href="/community-members/login">log in</a> here!</h2>
<p>New to the site? <a href="/community-members/new">Sign up</a> here!</p>
<br><br>
<h2>Returning volunteers, <a href="/volunteers/login">log in</a> here!</h2>
<p>Interested in volunteering? <a href="/volunteers/new">Sign up</a> here!</p>
