<h1>Sign up to be a member of our community!</h1>

<% if @community_member.errors.any? %>
  <%= render partial: "helpers/error_fields", locals: {object: @community_member} %>
<% end %>

<div id="new_community_member_form">
  <%= render partial: "helpers/info_form", locals: {user: @community_member} %>
</div>
