<h1>Delivery Requests completed today: </h1>

<% if @todays_completed_requests.size == 0 %>
  <h2>None at the moment.</h2>
<% end %>

<% @todays_completed_requests.each do |rq| %>
  <li> <%= link_to "Delivery Request ID #{rq.id}", delivery_request_path(rq) %> </li>
  <li> Items: <%= rq.items %></li>
  <br>
<% end %>
